@import url('/assets/fonts.css');
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: Mont, sans-serif;
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #FF0000
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.red-container {
    background-color: #FF0000;
}

.black-container {
    background-color: #000000;
    color: #FFF;
}

.page-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    min-height: 90vh;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.to-black, .to-gray, .to-red {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.to-black {
    background-image: url('/assets/images/texture-clip--01--black.png');
}

.to-red {
    background-image: url('/assets/images/texture-clip--01--red.png');
}

.to-gray {
    background-image: url('/assets/images/texture-clip--01--gray.png');
}

.mainnavbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
    display: flex;
    height: 80px;
    top: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: flex;
}

.mainnavbar .nav-container {
    padding-right: 50px;
    padding-left: 50px;
    flex: 1;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mainnavbar .menu {
    position: relative;
    display: flex;
    margin-left: -15px;
    padding-right: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mainnavbar .menu.home {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.mainnavbar .menu-logo {
    display: inline-block;
    width: 200px;
    height: 80px;
    background-image: url('/assets/images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -900000px;
}

.mainnavbar a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 16px;
}

.register-nav-button {
    background-color: #FF0000;
    color: #FFF!important;
    font-weight: bolder;
    padding: 12px 16px;
    margin-right: 0px!important;
}

.header-hero {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center top;
}

.header-hero::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-image: url('/assets/images/texture-clip--01--black.png');
}

.width-container {
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    max-width: 1240px;
    min-height: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-bottom: 0;
    padding-left: 80px;
}

.hero-margin {
    margin: 64px 0;
}

.inline-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-wrapper {
    flex: 1;
}

.event-descriptions h1 {
    margin: 0;
    font-size: 48pt;
}

.event-descriptions p {
    font-size: 16pt;
    max-width: 600px;
    margin: 0;
    margin-bottom: 16px;
}

.location {
    position: relative;
    display: inline-flex;
    align-items: center;
    top: -6px;
    margin-left: 16px;
}

.location::before {
    content: ' ';
    background-color: #FFF;
    height: 2px;
    width: 50px;
    margin-right: 8px;
}

.countup {
    position: absolute;
    right: 0px;
    top: -24px;
    padding-top: 16vh;
    z-index: 1000;
    background-image: url('/assets/images/texture-white.png');
    background-size: cover;
    background-position-x: 20vh;
    background-repeat: no-repeat;
}

.countup::after {
    content: ' ';
    background-image: url('/assets/images/pattern-dots-white.png');
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 64px;
    margin-bottom: 64px;
    z-index: 1;
}

.countup .timeel {
    display: inline-block;
    padding: 10px;
    margin: 0;
    color: #FF0000;
    min-width: 2.6rem;
    text-align: right;
    font-weight: bold;
    z-index: 200;
    position: relative;
}

.countup .days {
    font-size: 260pt;
}

.countup .timeRefDays {
    position: relative;
    right: 72px;
}

.countup span[class*="timeRef"] {
    background: #000;
    color: #FFF;
    text-transform: uppercase;
}

.conference-info p {
    font-size: 1.4em;
    line-height: 1.8;
}

.relative-typo-container {
    position: relative;
}

.relative-typo-container .typo {
    position: absolute;
    left: -20px;
    color: #FF0000;
    position: absolute;
    z-index: 2;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.red-container.relative-typo-container .typo {
    color: #000;
}

.w-video {
    display: flex;
}

.w-video>div {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    z-index: 500;
    margin: 50px 0;
}

.w-video embed, .w-video iframe, .w-video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.w-embed:after, .w-embed:before {
    display: table;
}

.w-clearfix:after, .w-clearfix:before, .w-embed:after, .w-embed:before, .w-radio:after, .w-radio:before {
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.video iframe, .default iframe, .flash iframe, .iframe iframe {
    width: 100%;
    height: 100%;
}

.recap .typo {
    top: -10px;
}

.home-speakers-wrap {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

._3-col-div {
    display: block;
    width: 29.333%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._2-col-div, ._3-col-div {
    padding-right: 20px;
    padding-left: 20px;
}

.speaker-title {
    color: #FFF;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.sponsors {
    padding: 60px 0;
    margin-bottom: 32px;
}

.sponsors h2 {
    font-size: 6em;
}

@media only screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    .mainnavbar {
        display: none;
    }
    h1 {
        font-size: 24pt!important;
    }
    .countup {
        top: -90px;
    }
    .countup span[class*="timeRef"] {
        right: 50px;
    }
    .countup .days {
        font-size: 80pt;
    }
    .width-container {
        padding-right: 30px;
        padding-left: 30px;
        width: initial;
    }
    .hero-margin {
        margin: 0;
    }
    .inline-container {
        flex-direction: column;
    }
    .relative-typo-container .typo {
        position: relative;
        left: initial;
        color: #FF0000;
        font-size: 10vw;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        margin: 16pt;
        text-align: center;
    }
    .about {
        padding-bottom: 56px;
    }
    .w-video {
        min-height: 47vh!important;
    }
    .w-video .typo {
        margin-bottom: 0!important;
    }
    #header-hero {
        min-height: 100vh;
        position: relative;
    }
    #header-hero h1 {
        display: inline-block;
        width: 200px;
        height: 80px;
        background-image: url('/assets/images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -900000px;
        margin-bottom: 16px;
    }
    #header-hero::after {
        content: ' ';
        background-image: url('/assets/images/chevron-down.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 80px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    ._3-col-div {
        display: block;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .subjects {
        display: none!important;
    }
    ._2-col-div, ._3-col-div {
        padding-right: 20px;
        padding-left: 20px;
    }
    .sponsors h2 {
        font-size: 3vh;
    }
}